<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
         <li class="{{conditionClass "active" active "account"}}">
            <a href="account.html"> <i class="iconfont icon-side">&#xe633;</i> <span class="name">账号管理</span></a>
        </li>
        <li class="panel {{conditionClass "active" active "appAlert transAlert"}}">
            <a class="accordion-toggle {{conditionClass "" active "appAlert transAlert" true}}" data-toggle="collapse" href="#stats-collapse"><i class="iconfont icon-side">&#xe62b;</i> <span class="name">报警策略</span></a>
            <ul id="stats-collapse" class="panel-collapse in collapse {{conditionClass "in" active "appAlert transAlert"}}">
                <li class="{{conditionClass "active" active "appAlert"}}"><a href="appAlert.html">应用程序</a></li>
                <li class="{{conditionClass "active" active "transAlert"}}"><a href="transAlert.html">关键事务</a></li>           
            </ul>
        </li>      
        <li class="{{conditionClass "active" active "alertLog"}}">
            <a href="alertLog.html"> <i class="iconfont icon-side">&#xe631;</i> <span class="name">报警记录</span></a>
        </li>
    </ul>
</nav>