<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
         <li class="panel {{conditionClass "active" active "indexD topologyD transactionD sql externalD jvms"}}">
            <a class="accordion-toggle {{conditionClass "" active "indexD topologyD transactionD sql externalD jvms" true}}" data-toggle="collapse"href="#forms-collapse">
                <i class="iconfont icon-side">&#xe61b;</i> 
                <span class="name">监控</span>
            </a>
            <ul id="forms-collapse" class="panel-collapse in collapse {{conditionClass "in" active "indexD topologyD transactionD sql externalD jvms"}}">
                <li class="{{conditionClass "active" active "indexD"}}"><a href="indexD.html">总览</a></li>
                <li class="{{conditionClass "active" active "topologyD"}}"><a href="topologyD.html">拓扑</a></li>
                <li class="{{conditionClass "active" active "transactionD"}}"><a href="transactionD.html">事务</a></li>
                <li class="{{conditionClass "active" active "sql"}}"><a href="sql.html">SQL</a></li>
                <li class="{{conditionClass "active" active "externalD"}}"><a href="externalD.html">外部服务</a></li>
                <li class="{{conditionClass "active" active "background_task"}}"><a href="background_task.html">后台任务</a></li>
                <li class="{{conditionClass "active" active "jvms"}}"><a href="jvms.html">JVMs</a></li>
            </ul>
        </li>

        <li class="panel {{conditionClass "active" active "errorMessage profiler"}}">
            <a class="accordion-toggle {{conditionClass "" active "errorMessage profiler" true}}" data-toggle="collapse" href="#stats-collapse">
                <i class="iconfont icon-side">&#xe620;</i> 
                <span class="name">事件</span>
            </a>
            <ul id="stats-collapse" class="panel-collapse in collapse {{conditionClass "in" active "errorMessage profiler"}}">
                <li class="{{conditionClass "active" active "errorMessage"}}"><a href="errorMessage.html">错误信息</a></li>
                <li class="{{conditionClass "active" active "profiler"}}"><a href="profiler.html">性能剖析</a></li>
               
            </ul>
        </li>
        
        <li class="{{conditionClass "active" active "reportD"}}">
            <a href="reportD.html"> 
                <i class="iconfont icon-side">&#xe622;</i> 
                <span class="name">报表</span>
            </a>
        </li>
        <li class="panel {{conditionClass "active" active "serverEn appSetting"}}">
            <a class="accordion-toggle {{conditionClass "" active "serverEn appSetting" true}}" data-toggle="collapse"
                href="#ui-collapse">
                <i class="iconfont icon-side">&#xe618;</i> 
                <span class="name">设置</span>
            </a>
            <ul id="ui-collapse" class="panel-collapse in collapse {{conditionClass "in" active "serverEn appSetting"}}">
                <li class="{{conditionClass "active" active "appSetting"}}"><a href="appSetting.html">应用设置</a></li>
                <li class="{{conditionClass "active" active "serverEn"}}"><a href="serverEn.html">服务器环境</a></li>
            </ul>
        </li>
        
    </ul>
</nav>