<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="{{conditionClass "active" active "broswer_overview"}}">
            <a href="broswer_overview.html"> <i class="fa fa-home"></i> <span class="name">总览</span></a>
        </li>
        <li class="{{conditionClass "active" active "pageBro"}}">
            <a href="pageBro.html"> <i class="fa fa-area-chart"></i> <span class="name">页面</span></a>
        </li>
        <li class="{{conditionClass "active" active "ajaxBro"}}">
            <a href="ajaxBro.html"> <i class="fa fa-pencil"></i> <span class="name">AJAX</span></a>
        </li>        
        <li class="{{conditionClass "active" active "errBro"}}">
            <a href="errBro.html"> <i class="fa fa-home"></i> <span class="name">错误</span></a>
        </li>
        <li class="{{conditionClass "active" active "broBro"}}">
            <a href="broBro.html"> <i class="fa fa-magic"></i> <span class="name">浏览器</span></a>
        </li>
        <li class="{{conditionClass "active" active "geograBro"}}">
            <a href="geograBro.html"> <i class="fa fa-area-chart"></i> <span class="name">地理</span></a>
        </li>
    </ul>
</nav>