<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="{{conditionClass "active" active "overviewBro"}}">
            <a href="overviewBro.html"> 
                <i class="iconfont icon-side">&#xe62a;</i> 
                <span class="name">总览</span>
            </a>
        </li>
        <li class="{{conditionClass "active" active "pageBro"}}">
            <a href="pageBro.html"> 
                <i class="iconfont icon-side">&#xe62f;</i> 
                <span class="name">页面</span>
            </a>
        </li>
        <li class="{{conditionClass "active" active "ajaxBro"}}">
            <a href="ajaxBro.html"> 
                <i class="iconfont icon-side">&#xe626;</i> 
                <span class="name">AJAX</span>
            </a>
        </li>        
        <li class="{{conditionClass "active" active "errBro"}}">
            <a href="errBro.html"> 
                <i class="iconfont icon-side">&#xe62b;</i> 
                <span class="name">错误</span>
            </a>
        </li>
        <li class="{{conditionClass "active" active "broBro"}}">
            <a href="broBro.html"> 
                <i class="iconfont icon-side">&#xe630;</i> 
                <span class="name">浏览器</span>
            </a>
        </li>
        <li class="{{conditionClass "active" active "geograBro"}}">
            <a href="geograBro.html"> 
                <i class="iconfont icon-side">&#xe62c;</i> 
                <span class="name">地理</span>
            </a>
        </li>
    </ul>
</nav>